
<span class="input-group-btn hidden-xs">
	<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
</span>
<input type="text" class="form-control hidden-sm hidden-md hidden-lg ">
<span class="input-group-addon hidden-sm hidden-md hidden-lg">
	<span class="glyphicon glyphicon-calendar"></span>
</span>