
<span class="input-group-btn">
	<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
</span>

<input type="text" class="form-control {{if hideControl 'hidden-sm hidden-md hidden-lg'}}">