<div class="container">
  <div class="row page-header">
    <div class="col-md-12">
      <h1>Contests <small>Upcoming</small></h1>
    </div>
  </div>
  <div class="row">
    {{#each contests as |site|}}
      <div class="col-md-6">
        <h2>{{site.name}}</h2>
        {{#each site.contests as |sport|}}
          <h3>{{sport.name}}</h3>
          <ul class="list-unstyled">
            {{#each sport.list as |contest|}}
              <li>{{#link-to contest.sport contest}}{{contest.displayName}}{{/link-to}}</li>
            {{else}}
              <li>No upcoming contests</li>
            {{/each}}
          </ul>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
