
<div class="container">
  <div class="row page-header">
    <div class="col-md-12">
      <h1>Contests <small>Upcoming</small></h1>
    </div>
  </div>
  <div class="row">
    {{contests-display model=model}}
  </div>
</div>
